{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h3 id="product">Liste de tous les produits</h3>
    {% for product in products %}
        <ul>
            <li>
                <div class="delete"><h4>{{ product.name }}</h4>
                {{ include('product/_delete.html.twig') }}
                </div>
            </li>
        </ul>
    {% endfor %}
    <div class="arrow">
    <a class="lien" href="{{ path('product_new') }}"><i class="far fa-arrow-alt-circle-left arrow"></i></a><br>
    <a class="lien" href="{{ path('category_index') }}"><i class="far fa-arrow-alt-circle-right arrow"></i></a><br>
    </div>
{% endblock %}
