.arrow {
  display: flex;
  justify-content: space-around;
}
.cross {
  color: darkred;

}
.btn-delete {
  padding-top: 1px;
}
.delete {
  display: flex;
}
#product {
  margin-left: 2vh;
  margin-top: 4vh;
}
