<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="burger">
        <li class="nav-item">
            <a class="nav-link" href="{{path ('product_new') }}"><i class="fas fa-hamburger icon"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('category_index') }}"><h4 id="nav">Catégories</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('product_index') }}"><h4 id="nav">Produits</h4></a>
        </li>
    </ul>
</div>
</nav>


